$bg-color: #a00;
$font-color: #ff3;

*{
  box-sizing: border-box;

}

body {
  background: $bg-color;
  font-family: "Helvetica";

  h1{ 
    color: $font-color;
    padding: 10px;
    margin: 0;
    font-weight: 200;
  }
}