*{
  box-sizing: border-box;
}

input[type="text"] {
    width: 100px;
    display: block;
    margin: 30px auto;
    border: 5px solid black;
}


body{
  font-family: 'Palatino';
}

h1{
  color: #fff;
  padding: 10px;
}

h1:nth-of-type(1){
  background: #ffc600;
}

h1:nth-of-type(2){
  background: #E87E04;
}

h1:nth-of-type(3){
  background: #D64541;
}

h1:nth-of-type(4){
  background: #16a085;
}

#data-output-container{
  height: 300px;
  overflow: scroll;
  background: #ddd;
}

.card{
  min-width: 30%;
  padding: 10px;
  display: inline-block;
  background: #D2D7ff;
  margin-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

.card.pols{
  background: #C8F7C5;
}

h6 {
  text-align: right;
}